
#backgroundOne{
    background-color: #327097;
    padding:15px;
    font-family:verdana;
    font-size:16px;
    color: #ffffff;
}
#backgroundTwo{
    background-color: #71A1BE;
    padding:15px;
    font-family:verdana;
    font-size:16px; 
}
